body{
    margin: 0;
    padding: 5vh 5vw;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #ccc;
    color: #555;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    height: 90vh;
}

.left-form{
    width: 30vw;
    height: 90vh;
    align-items: center;
    justify-content: space-around;
    padding: 3vh 1vw;
}

.right-content{
    padding: 0 15px;
    align-items: center;
    justify-content: flex-start;
    width: 55vw;
    height: 90vh;
    overflow-y: scroll;
}

.window{
    background-color: #ddd;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.btn{
    display: block;
    font-size: 32px;
    text-decoration: none;
    border-radius: 30px;
    width:20vw;
    background-color: #eee;
    padding: 1vh 1vw;
    font-family: 'Baloo Bhai', cursive;
    color: #555;
    border: #555 solid 3px;
    box-sizing: border-box;
}

#in{
    text-align: left;
    background-color: rgba(0,255,0, 0.3);
}

#out{
    text-align: right;
    background-color: rgba(255,0,0, 0.3);
}

#parking-form input[type=text]{
    width:20vw;
    border-radius: 30px;
    border: #555 solid 3px;
    background-color: #eee;
    display: block;
    font-size: 24px;
    padding: 1vh 2vw;
    box-sizing: border-box;
    text-align: center;
    outline:none;
}

.rows{
    width: 100%;
}

.row{
    font-family: 'Marmelad', sans-serif;
    width: 100%;
    background-color: inherit;
    box-sizing: border-box;
    border-bottom: #999 solid 2px;
    height: 10vh;
    min-height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 15px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 15px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

